<!doctype html>
<html lang="en">

<head>
    <%- include('./_link.ejs') %>
    <title>List Product</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <%- include('./_sidebar.ejs') %>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">List Product</h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus
                                    vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/admin/Home"
                                                    class="breadcrumb-link">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">List Product</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <!--  -->
                        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">List Product</h5>
                                <a href="/admin/addproduct" class="pull-right btn btn-primary">Add product</a>

                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">ID</th>
                                                    <th class="border-0">Image</th>
                                                    <th class="border-0">Product Name</th>
                                                    <th class="border-0">Price</th>
                                                    <th class="border-0">Quantity</th>
                                                    <th class="border-0">Amount</th>
                                                    <th class="border-0">Category</th>
                                                    <th class="border-0">Zones</th>
                                                    <th class="border-0">Action</th>
                                                    <!-- <th class="border-0">Status</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (hasOwnProperty('listProduct')) { %>
                                                <% for (var item of listProduct) { %>
                                                <tr onclick="javascript:location.href = '/'">
                                                    <td><%= item._id %></td>
                                                    <td>
                                                        <div class="m-r-10"><img src="<%= item.image%>" alt="user"
                                                                class="rounded" width="45"></div>
                                                    </td>
                                                    <td><%= item.name %></td>
                                                    <td><%= item.price %></td>
                                                    <td><%= new Date(item.creationDate) %></td>
                                                    <td><%= item.amount %></td>
                                                    <td><%= item.category.name %></td>
                                                    <% if (item.zone) { %>
                                                    <td><%= item.zone.name %></td>
                                                    <% } else { %>
                                                    <td></td>
                                                    <% } %>
                                                    <td><a class="btn btn-primary" style="color: white"
                                                            href="/admin/productdetail/<%= item._id %>">Detail</a></td>
                                                    <!-- <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td> -->
                                                </tr>
                                                <!-- <tr>
                                                            <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                                        </tr> -->
                                                <% } %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination justify-content-end">
                        <li class="page-item"><a class="page-link" id="btnPre">Previous</a></li>
                        <% for (var i = 1; i <= pageCount; i++) { %>
                        <li class="page-item"><a class="page-link" href="/admin/listproducts?page=<%= i %>"><%= i %></a>
                        </li>
                        <% } %>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);" id="btnNext">Next</a></li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- footer -->
                    <!-- ============================================================== -->
                    <%- include('./_footer.ejs') %>
                    <!-- ============================================================== -->
                    <!-- end footer -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- end wrapper  -->
                <!-- ============================================================== -->
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper  -->
        <!-- ============================================================== -->
        <script>
            $(document).ready(function () {
                var url = location.href.toString();
                var currPage = parseInt(url.substring(url.indexOf('=') + 1));
                console.log(currPage);
                $('#btnNext').click(function () {
                    if (Number.isNaN(currPage))
                        location.href = '/admin/listproducts?page=' + 2;
                    else
                        location.href = '/admin/listproducts?page=' + (currPage + 1);
                });
                $('#btnPre').click(function () {
                    if (Number.isNaN(currPage))
                        location.href = '/admin/listproducts?page=' + 2;
                    else
                        location.href = '/admin/listproducts?page=' + (currPage - 1);
                });
            });
        </script>
</body>

</html>