<!doctype html>
<html lang="en">

<head>
    <title>List Category</title>
</head>

<body>
    <div class="dashboard-main-wrapper">
        <!-- using slidebar -->
        <%- include('./_sidebar.ejs') %>

        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">

                    <!-- list categories -->
                    <div class="row">
                        <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">List Category </h5>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="example4_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <!-- <input type="submit" formaction="./addcategory" value="ADD NEW" /> -->
                                                <!-- <li class="paginate_button page-item active"><a href="#"
                                                    aria-controls="example4" data-dt-idx="1"
                                                    tabindex="0" class="page-link">Add New</a></li>                                                -->
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="example4"
                                                        class="table table-striped table-bordered dataTable"
                                                        style="width: 100%;" role="grid"
                                                        aria-describedby="example4_info">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0"                                                                  
                                                                    style="width: 50px;">ID</th>
                                                                <th class="sorting" tabindex="0"                                                                  
                                                                    style="width: 54px;">Name</th>                                                  
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <%  for (var item of cats) {  %>
                                                                <tr>
                                                                    <th role="row" class="odd"><%=item._id%></th>
                                                                    <td onclick="details('<%=item._id%>', `<%=item.name%>`)" style="cursor: pointer;">
                                                                    <%=item.name%>
                                                                </td>
                                                                </tr>                                                                                            
                                                            <%  } %>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Category Detail</h5>
                                <div class="card-body">
                                    <form class="form-group"  method="POST">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="name">
                                            
                                        </div>
                                        <div class="input-group-append">
                                            <button type="submit" action="addcate" class="btn btn-primary" style="padding-right: 105px">Add</button>
                                            <button type="submit" action="updatecate" class="btn btn-primary" style="padding-left: 105px">Update</button>                                 
                                        </div>
                                    </form>
                                </div>
                            </div>
                    </div>
                    <!-- end list categories -->
                </div>
                <%- include('./_footer.ejs') %>
            </div>
        </div>
    </div>
</body>

</html>