<!doctype html>
<html lang="en">

<head>
    <%- include('./_link.ejs') %>
    <title>List Product</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <%- include('./_sidebar.ejs') %>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">List Product</h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus
                                    vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="home"
                                                    class="breadcrumb-link">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">List Product</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <!--  -->
                        <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">List Product</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">ID</th>
                                                    <th class="border-0">Image</th>
                                                    <th class="border-0">Product Name</th>
                                                    <th class="border-0">Price</th>
                                                    <th class="border-0">Quantity</th>
                                                    <th class="border-0">Amount</th>
                                                    <th class="border-0">Category</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (hasOwnProperty('listProduct')) { %>
                                                <% for (var item of listProduct) { %>
                                                <tr>
                                                    <td><%= item._id %></td>
                                                    <td>
                                                        <div class="m-r-10"><img src="<%= item.image%>" alt="user"
                                                                class="rounded" width="45"></div>
                                                    </td>
                                                    <td><%= item.name %></td>
                                                    <td><%= item.price %></td>
                                                    <td><%= new Date(item.creationDate) %></td>
                                                    <td><%= item.amount %></td>
                                                    <td><%= item.category %></td>
                                                </tr>
                                                <% } %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--  -->
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="product-sidebar">
                                <div class="product-sidebar-widget" style="margin-bottom: 0px;">
                                    <h4 class="mb-0">Fanwar</h4>
                                </div>
                                <!-- <button style="margin: auto;">Add Product</button> -->
                                <a href="addproduct">
                                    <div style="width: 100%;"><button style="margin-left: 30%;">Add Product</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- end wrapper  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <%- include('./_footer.ejs') %>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper  -->
        <!-- ============================================================== -->
    </div>
</body>

</html>