<!doctype html>
<html lang="en">
<head>
    <%- include('./_link.ejs') %>
    <title><%= product.name %></title>
</head>
<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <%- include('./_sidebar.ejs') %>
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Product Detail </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus
                                    vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="home" class="breadcrumb-link">Home</a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="listproducts?page=1" class="breadcrumb-link">Product</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">Product Detail</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="product-img col-md-7">
                                    <img class="" src="<%= product.image %>" style="max-width: 100%; max-height: 100%;" />
                                </div>
                                <div class="col-md-5">
                                    <div class="product-details">
                                        <div class="border-bottom pb-3 mb-3">
                                            <h2 class="mb-3"><%= product.name %></h2>
                                            <h3 class="mb-0 text-primary">$<%= product.price %></h3>
                                        </div>
                                        <div class="product-colors border-bottom">
                                            <h4>Category</h4>
                                            <p> <%= product.category.name %> </p>
                                        </div>
                                        <div class="product-size border-bottom">
                                            <h4>Zones</h4>
                                            <div class="btn-group" role="group" aria-label="First group">
                                                <% if (product.zone) { %>
                                                    <p><%= product.zone.name %></p>
                                                <% } %>
                                            </div>
                                            <div class="product-qty">
                                                <h4>Quantity</h4>
                                                <div class="quantity">
                                                    <p><%= product.amount%></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-description">
                                            <a href="/admin/updateproduct?id=<%= product._id %>"
                                                class="btn btn-primary btn-block btn-lg">Update</a>
                                            <% if (canBeDelete) { %>
                                            <a class="btn btn-primary btn-block btn-lg" style="color: white;" href="#"
                                                id="btnDel">Delete</a>
                                                <p style="display: none;" id="temp"><%= product._id %></p>
                                            <% } %>
                                            <a class="btn btn-primary btn-block btn-lg" style="color: white;"
                                                href="/details?id=<%=product._id%>">Detail in customer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <%- include('./_footer.ejs') %>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end wrapper  -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <script>
        jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
        jQuery('.quantity').each(function () {
            var spinner = jQuery(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find('.quantity-up'),
                btnDown = spinner.find('.quantity-down'),
                min = input.attr('min'),
                max = input.attr('max');

            btnUp.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

        });
    </script>
    <script>
        $(document).ready(function () {
            $('.product-slider').css('padding', '0px');
            $('#btnDel').click(function () {
                var id = $('#temp').html();
                if (confirm('bạn có chắc muốn xóa sản phẩm này không')) {
                    location.href = '/admin/deleteproduct?id=' + id;
                }
            });
        });
    </script>
</body>

</html>