<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Cart</title>
    <%- include('./_link.ejs') %>
</head>

<body>
    <!--::header part start::-->
    <%- include('./_menu.ejs') %>
    <!-- Header part end-->

    <!-- cart area -->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%  for (var [i, item] of session.mycart.entries()) { %>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="<%=item.product.image%>" alt="" class="img-fluid">
                                        </div>
                                        <div class="media-body">
                                            <p><%=item.product.name%></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5><%=item.product.price%></h5>
                                </td>
                                <td><h5><%=item.quantity%></h5>
                                </td>                             
                                <td>
                                    <h5><%=item.product.price * item.quantity%></h5>
                                </td>
                                <td>
                                    <a href="./remove2cart?id=<%=item.product._id%>" class="fas fa-trash" style="cursor: pointer;background-color: transparent; border: transparent;"></a>
                                        <!-- <button
                                            onclick="return confirm('Are you sure you want to delete this?')"
                                            style="background-color: transparent; border: transparent;">
                                            <i class="fas fa-trash" style="cursor: pointer;"></i>
                                        </button>
                                    </form> -->
                                </td>
                            </tr>
                            <%  } %>

                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Total</h5>
                                </td>
                                <td>
                                    <h5><%=total%></h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="checkout_btn_inner float-right">
                        <a class="btn_1 checkout_btn_1" href="#">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end cart area -->
    <%- include('./_footer.ejs') %>
</body>

</html>